<div class="main">

    <div class="row justify-content-md-center" style="margin-top: 40px">

        </header>

        <form action="/addappt" method="POST">




            <label for="Date">Date</label>
            <input type="date" name="dateTime" required>
            <br><br>
            <label for="status">status</label>
            <input type="text" name="status" required>
            <br><br>
            <label for="Doc_id">Doctor's #</label>
            <input type="number" name="Doc_id" required>
            <br><br>
            <label for="Pat_id">Patient's #</label>
            <input type="number" name="Pat_id" required>
            <br><br>
            <button class="btn btn-primary" type="reset">Reset</button>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>

</div>